*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.img{
   
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    margin-left: 10%;
  
  
}
.overlay{
    opacity: 0;
    text-align: center;
    width: 600px;
    height: 525px;
    color: #fff;
    position: absolute;
    display: inline-block;
    padding: 200px 20px;
    transition: 0.3s ease-in-out;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 10%;
   
}
.overlay:hover{
    opacity: 1;
}